@model SportViewModel
@{
    ViewData["Title"] = "Agregar un deporte";
}
<form method="post" asp-controller="Sports" asp-action="Create">
    <h3>Agregar nuevo deporte:</h3>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <div class="mb-3">
            <label asp-for="SportName" class="form-control"></label>
            <input asp-for="SportName" type="text" class="form-control" />
            <span asp-validation-for="SportName" class="text-danger"></span>
        </div>
        <button class="btn btn-outline-success">
            Guardar
        </button>
        <a asp-controller="Sports" asp-action="Index" class="btn btn-outline-secondary">
            Volver a la lista
        </a>
    </div>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}