@model Sport
@{
    ViewData["Title"] = "Eliminar un deporte";
}
<form method="post" asp-controller="Sports" asp-action="Delete">
    <input type="hidden" asp-for="SportId" />
    <h3>Eliminar un deporte:</h3>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <div class="mb-3">
            <label asp-for="SportName" class="form-control">Deporte</label>
            <input asp-for="SportName" disabled type="text" class="form-control" />
        </div>
        <button class="btn btn-outline-danger">
            Eliminar
        </button>
        <a asp-controller="Sports" asp-action="Index" class="btn btn-outline-secondary">
            Volver a la lista
        </a>
    </div>
</form>