@if (TempData["success"] is not null)
{
    var msg = TempData["success"].ToString();
    <div class="alert-overlay d-flex flex-row-reverse">
        <div class="alert alert-success alert-dismissible fade show w-75 text-start" role="alert">
            <strong>OK!</strong> @msg
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
        </div>

    </div>
}

<style>
    .alert-overlay {
        position: fixed; 
        top: 20px; 
        right: 20px; 
        z-index: 9999;
        display: flex;
        justify-content: flex-end;
    }

    .alert {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
    }
</style>